In [2]:
                 Looping statements

In [ ]:
for [userdefined_variables] in [iterable_datatypes] :
    [statements]

In [ ]:
iterable data types
    list
    set
    dict
    str
    tuple

In [9]:
l=[10,20,30,40,50]
for value in l:
    print(value)
    
    print(value * value)

10
100
20
400
30
900
40
1600
50
2500

In [12]:
for value in "python is easier to learn" :
    print(value)

p
y
t
h
o
n

i
s

e
a
s
i
e
r

t
o

l
e
a
r
n

In [19]:
d={"email" : "abc@gmail.com","name" :"ABC","id":100}
for ar in d :
    print(ar)

email
name
id

In [22]:
l=[10,20,30,40,50]

# sum = 0
# sum = sum + 10 =10
# sum = 10
# sum = sum + 20 =30
# sum = 20
# sum = sum + 30 =60
# sum = 30
# sum = sum + 40 =100
# sum = 40
# sum = sum + 50 =150
sum = 0
for value in l :
    sum = sum + value
    print(sum)

10
30
60
100
150

In [ ]:
range(10) 0..............9
range (10,20) 10,11......19
range (10,50,5)10,15,20,.........45

In [4]:
for value in range(23,31) :
    print(value)
for v in range(10) :
    print(v)

23
24
25
26
27
28
29
30
0
1
2
3
4
5
6
7
8
9

In [36]:
s="python is easy"
vowel_count = 0
consonent_count = 0

for value in s :
    if value in "aeiouAEIOU" :
        vowel_count+=1
    elif value == " ":
        pass
        print("lets check if i see this in output")
    else :
        consonent_count+=1
print(vowel_count,consonent_count)

lets check if i see this in output
lets check if i see this in output
4 8

In [45]:
if 67 :
    print("hi")
else :
    pass
print("hello")

hi
hello

In [53]:
l=[10,20,30,-1,100,20,50,60]
for value in l:
    if value < 0:
        print("stop the nagative number is", value)
        continue
    else :
        print(value)

10
20
30
stop the nagative number is -1
100
20
50
60

In [11]:

num = [10,20,30,40,50,78,56]
key = 50
for value in num :
    print(value)
    if value == key:
        print (value,"is their")
        break
    else :
        print("")

10

20

30

40

50
50 is their

In [18]:
l=[10,20,30,40,50]
for value in l :
    if value == 30 :
        print("value is 30")
    else :
        print(value)

10
20
value is 30
40
50

In [22]:
nums = [10,20,30,40,50,60,70]
key = 90
flag = False 
for value in nums :
    print(value)
    if value == key :
        flag = True
        break    
if flag == True :
    print("key is present")
else :
    print("key is not present")

10
20
30
40
50
60
70
key is not present

In [ ]:
enumerate = >  index,value

In [36]:
l=[1,2,3,45,5,"p"]
for index,value in enumerate(l):
    print(index,value)
    
# index is positions of a data
# value is a data

0 1
1 2
2 3
3 45
4 5
5 p

In [64]:
l=[1,2,3,4,5]
key=3
for index, value in enumerate(l) :
        
    if value == key :
        print(key ,"key is present in position",index)
        
    else :
        print(key,"key is not present")

3 key is not present
3 key is not present
3 key is present in position 2
3 key is not present
3 key is not present

In [72]:
num1=6
sum=0
a=num1 // 2
for value in range(1,a):
    print(a)
    if num1 % value == 0:
        sum=sum + value
        print(sum)
if sum == num1:
    print("perfect number")
else :
    print("not a perfect number")

3
1
3
3
not a perfect number

In [76]:
#tables of 5
n1=5
for value in range(1,11):
    print(5*value)

5
10
15
20
25
30
35
40
45
50

In [81]:
for value1 in range(5):
    for value2 in range(100,105):
        print(value1,value2)

0 100
0 101
0 102
0 103
0 104
1 100
1 101
1 102
1 103
1 104
2 100
2 101
2 102
2 103
2 104
3 100
3 101
3 102
3 103
3 104
4 100
4 101
4 102
4 103
4 104

In [29]:
for value1 in range(1,6):
    
    for value2 in range(1,11) :
    
        print(value1*value2,end = " ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

In [88]:
print(10,20,end = " ",sep = ",")

10,20

In [ ]:
-for loop syntax
 for var in [iterable datatype]:
-range(100,500)100 499
-range(100,500,100) 100 2200 300 400
-enumerate index,value
-pass
-continue
-break

In [94]:
print(10,20,"Python",sep=",",end="")
print(" hi")

10,20,Python hi

In [ ]:
while condition => True/False
    statements

In [18]:
n1=5
result=1
while n1>1:
    result=result*n1
    n1=n1-1
print(result)
print(n1)

120
1

In [98]:
count=1
sum=0
while count<=20:
    sum=sum+count
    count=count+1
    if count ==15:
        break
    else:
        print("statement get executed")
    print(sum)

statement get executed
1
statement get executed
3
statement get executed
6
statement get executed
10
statement get executed
15
statement get executed
21
statement get executed
28
statement get executed
36
statement get executed
45
statement get executed
55
statement get executed
66
statement get executed
78
statement get executed
91