In [ ]:
                                #DATA TYPES OF PYTHON DJANGO

In [2]:
#integer data type
a=10
b=4
c=a+b
print(c)

14

In [30]:
#float data type
a=10.51
b=11.3
c=a+b*a
print(c)

129.273

In [5]:
#string data type
a="pavan" """hi"""
print(a)

pavanhi

In [39]:
#list data type
l=[10,11,12,13,"edyoda",['1234'],12.34,"email":124]
print(l)

SyntaxError: invalid syntax (<ipython-input-39-5a30c0779b49>, line 2)

In [37]:
#tuple data type
t=(10,11,12,13,"ed_yoda",12.671)
print(t)

(10, 11, 12, 13, 'ed_yoda', 12.671)

In [34]:
#dictionary data type
d={"name":"pavan","emai123l":"pavanmshsn@gmail.com",12345,12.34"contact":1234567890}
print(d)

SyntaxError: invalid syntax (<ipython-input-34-7f1e8f95ad5e>, line 2)

In [43]:
#set data type
s={10,20,12.414,2,"@",23,24,23,"asm"}
print(s)

{2, '@', 10, 12.414, 'asm', 20, 23, 24}

In [44]:
#bool data type
a="pyth 123"
b="pYTH"
c=a<b 
print(c)

False

In [ ]:
Mutable   : The data or objects can add,delete and be updated
                    ex: list,set,dict
Immutable : The data or objects cannot be add,delete and updated
                    ex:int,float,string,tuple

In [ ]:
                                    #FINDING TYPE OF DATA TYPES

In [37]:
#integer data type
a=10
b=1
c=a+b+b*a
print(c,type(c))

21 <class 'int'>

In [38]:
#float data type
a=10.234
b=1.2356
c=a+b
print(c,type(c))

11.4696 <class 'float'>

In [46]:
#string data type
a="abcd"
print(a,type(a))

abcd <class 'str'>

In [47]:
#list data type
l=[10,11,12,13,"edyoda",['1234']]
print(l,type(l))

[10, 11, 12, 13, 'edyoda', ['1234']] <class 'list'>

In [49]:
#tuple data type
t=(10,11,12,13,"edyoda","""@""")
print(t,type(t))

(10, 11, 12, 13, 'edyoda', '@') <class 'tuple'>

In [50]:
#dictionary data type
d={"name":"pavan","email":"pavanmshsn@gmail.com","contact":1234567890}
print(d,type(d))

{'name': 'pavan', 'email': 'pavanmshsn@gmail.com', 'contact': 1234567890} <class 'dict'>

In [52]:
#set data type
s={10,20,30,14,23,24,23}
print(s,type(s))

{10, 14, 20, 23, 24, 30} <class 'set'>

In [54]:
#bool data type
a=7
b=4
c=a<b
print(c,type(c))

False <class 'bool'>

In [ ]:
PEP 8: Python Extension Proposal
            Guidelines about how your code should be look

In [ ]:
                                            #TO FIND ID OF DATA TYPES

In [ ]:
>location of data is same, from 0 to 266 bits.

In [55]:
#integer data type
a=11234
b=1345
c=a+b+b*a
print(c,id(c))

15122309 731337206320

In [56]:
#float data type
a=10.234
b=123.356
c=a+b
print(c,id(c))

133.59 731308278800

In [59]:
#string data type
a="1234"
b="12"
c=a+b
print(c,id(c))

1234 12 731313330672

In [60]:
#list data type
l=[10,12,13,"edyoda",['12']]
print(l,id(l))

[10, 12, 13, 'edyoda', ['12']] 731336581960

In [61]:
#tuple data type
t=(10,11,12,13,"edyoda","""@mail""")
print(t,id(t))

(10, 11, 12, 13, 'edyoda', '@mail') 731313210952

In [63]:
#dictionary data type
d={"name":"pavan123","email":"pavanms123@gmail.com","contact":1234567890}
print(d)
print(id(d))

{'name': 'pavan123', 'email': 'pavanms123@gmail.com', 'contact': 1234567890}
731313293736

In [64]:
#set data type
s={10,20,30,14,23,24,23}
print(s,id(s))

{10, 14, 20, 23, 24, 30} 731336415720

In [68]:
#boolean data type
a=7123
b=4223.2
c=a<b
print(c,id(c))

False 140711494134128

In [ ]:
                                #OPERATORS OF PYTHON DJANGO

In [ ]:
#Airthmetic operator
+ addition
- subtraction
* multipplication
/ True division
// floor division
** powers
% modulus

In [82]:
a=112
b=7
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

119
105
784
16.0
16
221068140740608
0

In [ ]:
#comparision operators
==,<,>,<=,>=,!=

In [45]:
me='abcd'
you='ABCD'
print(me==you)
print(me<you)
print(me>you)
print(me<=you)
print(me>=you)
print(me!=you)

False
True
False
True
False
True

In [ ]:
#Membership operators
in ,not in

In [47]:
l=[1,234,'java']
print(a in l)
print(234 not in l)
print( 5 in l)

False
False
False

In [100]:
d={1:10,"age":20,"name":"abi"}
print(1 not in d)
print(1 in d)
print(a in d)

False
True
False

In [ ]:
Not Iterable :int ,float
Iterable     :str,tuple,set,dict,list

In [ ]:
#Identity operators
is is not

In [110]:
s1=12
s2=11
print(11 is not s2)
print(s1 is s2)
print(s2 is not s1)

False
False
True

In [ ]:
#Assignement operator
=,+=,-=,*=,/=

In [114]:
n1=5
n2=3
n1+=2
print(n1)
n2-=2
print(n2)
n1*=3
print(n1)
n2/=2
print(n2)

7
1
21
0.5

In [ ]:
   #logical operator
and or not

In [52]:
print(2==2 and 2!=2 )

False